<section class="row gy-3 my-3">
    <div class=" col-sm-12 col-md-6 col-lg-3" *ngFor="let product of allProducts">
        <div class="product text-center rounded overflow-hidden">
            <img [src]="product.ProductImg" class="w-100" alt="">
            <div class="px-2">
                <h3 class="text-start my-2 text-muted">{{product.ProductName}}</h3>
                <div class="d-flex justify-content-between align-items-center mt-3 px-3 ">
                    <div><span class="text-dark">{{product.ProductPrice|currency}}</span></div>
                    <div>
                        <span class="text-uppercase small text-success">{{product.AvailablePieces}} Items</span>
                        <span class="mx-2 btn btn-success" (click)="updateAlert(product.ProductId)">
                            <i class="fa-solid fa-pen-to-square"></i></span>
                    </div>
                </div>
                <p class="text-danger mt-3">{{product.AvailablePieces|highlight}}</p>
                <button class="btn bg-main text-white w-75 my-3 mx-2 ">Order Now</button>
            </div>

        </div>
    </div>
</section>